#div1{
	background-color: red;
}

#div2{
	background-color: green;
}

#div3{
	background-color: blue;
}

#header_img{
	padding:0px;
	margin-top:-20px;
}

#menu_op{
	opacity: 0.9;
}
@media screen and (max-width:768px)
{
				h1{font-size:25px;}
				h2{font-size:22px;}
				h5{font-size:20px;}
				h6{font-size:18px;}
}
